* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    }
    body { 
        font-family: Arial, sans-serif; 
        line-height: 1.6; 
        background-color: hsl(204, 100%, 80%); 
        color: #333; 
    }
    header { 
        background-color: #141e7c;
        color: rgb(255, 255, 255); 
        padding: 20px; 
        text-align: center; 
    }
    nav { 
        background-color: #26598e; 
        padding: 10px; 
    }
    nav ul { 
        list-style: none; 
        display: flex; 
        justify-content: center;
    }
    nav ul li { 
        margin: 0 15px; 
    }
    nav ul li a { 
        color: white; 
        text-decoration: none; 
        font-weight: bold; 
    }
    main { 
        display: flex; 
        justify-content: space-between; 
        padding: 20px; 
    }

    .content-main { 

        background-color: rgb(255, 255, 255); 
        padding: 20px; 
        box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    }
    footer { 
        background-color: rgb(107, 158, 200); 
        color: rgb(0, 0, 0); 
        text-align: center; 
        padding: 10px; 
        position: relative; 
        bottom: 0; 
        width: 100%; 
    }
    h1, h2 { 
        margin-bottom: 20px; 
    }
    p { 
        margin-bottom: 15px; 
    }
    img{
        width: 500px;
        height: 400px;
    }
    ul{
list-style: none;
background: rgb(104, 173, 217);
    }
    ul li{
        display: inline-block;
        position: relative;
    }
ul li a{
display: block;
padding: 15px 20px;
color: rgb(62, 169, 174);
text-decoration: none;
text-align: center;
font-size: 15px;
}

ul li ul.dropdown li{
    display:block;
}


ul li ul.dropdown{
width: 100%;
background: rgb(0, 0, 0);
position:absolute;
z-index: 999;
display: none;
}

ul li a:hover{
    background: rgb(131, 186, 194);
}


ul li:hover ul.dropdown{
    display:block;
}

 